frontend/node_modules
backend/node_modules
frontend/build
frontend/.env
frontend/.env.local
frontend/.env.development.local
frontend/.env.test.local
frontend/.env.production.local
frontend/.DS_Store
frontend/.vscode
frontend/.idea
frontend/.pnp
frontend/.pnp.js
frontend/coverage
frontend/npm-debug.log

pocketbase/.env
pocketbase/.env.local
pocketbase/.env.development.local
pocketbase/pb_data
pocketbase/pb_data/auxiliary.db

.vscode/
.idea/
.env
node_modules/

