/* Кастомный хедер */
.customHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--container-padding);
  background: var(--color-background-card);
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.08);
}

.backButton {
  background: none;
  border: none;
  cursor: pointer;
  border-radius: var(--border-radius-round);
  color: var(--color-brand-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.2s ease;
  padding: 0;
}

.headerTitle {
  color: var(--color-text-primary);
  text-align: center;
  font-size: var(--font-size-lg);
  font-style: normal;
  font-weight: var(--font-weight-semibold);
  line-height: var(--line-height-relaxed);
  flex: 1;
  text-align: center;
  margin-right: 24px;
}
